---
layout: default
---

{% assign organiser = site.data.organisers.[page.organiser] %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% if organiser.photo %}
        <h3 class="post-organisers-name">By {{organiser.name}}</h3>
    {% endif %}
    <h2 class="post-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h2>
    <h3 class="post-time">From {{ page.start_time}} to {{page.end_time }}</h3>
  </header>

  {% if organiser.photo %}
    <div class="author" style="background-image:url({{organiser.photo}});"></div>
  {% endif %}

    <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

    {% if organiser.email %}
        <div>
            <a href='mailto:{{organiser.email}}?subject=Register interest for {{page.title}} on {{ page.date | date: "%B %-d, %Y" }}&body=Hi! Im interested in your event. Can I come please?' class="button button-primary">Register Interest</a>
        </div>
    {% endif %}

</article>
